BrilliantWMS/PowerOnRentwebapp/Service References/ToolbarService/UCToolbarService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UCToolbarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BrilliantWMSServices/Service.UCToolbar/UCToolbarService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/BrilliantWMSServices/Service.UCToolbar/UCToolbarService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iUCToolbar__AddNewUC_InputMessage">
    <wsdl:part name="parameters" element="tns:_AddNewUC" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar__AddNewUC_OutputMessage">
    <wsdl:part name="parameters" element="tns:_AddNewUCResponse" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar__SaveUC_InputMessage">
    <wsdl:part name="parameters" element="tns:_SaveUC" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar__SaveUC_OutputMessage">
    <wsdl:part name="parameters" element="tns:_SaveUCResponse" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar__ClearUC_InputMessage">
    <wsdl:part name="parameters" element="tns:_ClearUC" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar__ClearUC_OutputMessage">
    <wsdl:part name="parameters" element="tns:_ClearUCResponse" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar__SearchUC_InputMessage">
    <wsdl:part name="parameters" element="tns:_SearchUC" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar__SearchUC_OutputMessage">
    <wsdl:part name="parameters" element="tns:_SearchUCResponse" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar__ImportUC_InputMessage">
    <wsdl:part name="parameters" element="tns:_ImportUC" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar__ImportUC_OutputMessage">
    <wsdl:part name="parameters" element="tns:_ImportUCResponse" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar_GetUserRightsBy_ObjectNameUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRightsBy_ObjectNameUserID" />
  </wsdl:message>
  <wsdl:message name="iUCToolbar_GetUserRightsBy_ObjectNameUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRightsBy_ObjectNameUserIDResponse" />
  </wsdl:message>
  <wsdl:portType name="iUCToolbar">
    <wsdl:operation name="_AddNewUC">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCToolbar/_AddNewUC" message="tns:iUCToolbar__AddNewUC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCToolbar/_AddNewUCResponse" message="tns:iUCToolbar__AddNewUC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="_SaveUC">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCToolbar/_SaveUC" message="tns:iUCToolbar__SaveUC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCToolbar/_SaveUCResponse" message="tns:iUCToolbar__SaveUC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="_ClearUC">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCToolbar/_ClearUC" message="tns:iUCToolbar__ClearUC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCToolbar/_ClearUCResponse" message="tns:iUCToolbar__ClearUC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="_SearchUC">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCToolbar/_SearchUC" message="tns:iUCToolbar__SearchUC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCToolbar/_SearchUCResponse" message="tns:iUCToolbar__SearchUC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="_ImportUC">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCToolbar/_ImportUC" message="tns:iUCToolbar__ImportUC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCToolbar/_ImportUCResponse" message="tns:iUCToolbar__ImportUC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRightsBy_ObjectNameUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCToolbar/GetUserRightsBy_ObjectNameUserID" message="tns:iUCToolbar_GetUserRightsBy_ObjectNameUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCToolbar/GetUserRightsBy_ObjectNameUserIDResponse" message="tns:iUCToolbar_GetUserRightsBy_ObjectNameUserID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iUCToolbar" type="tns:iUCToolbar">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_AddNewUC">
      <soap:operation soapAction="http://tempuri.org/iUCToolbar/_AddNewUC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_SaveUC">
      <soap:operation soapAction="http://tempuri.org/iUCToolbar/_SaveUC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_ClearUC">
      <soap:operation soapAction="http://tempuri.org/iUCToolbar/_ClearUC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_SearchUC">
      <soap:operation soapAction="http://tempuri.org/iUCToolbar/_SearchUC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_ImportUC">
      <soap:operation soapAction="http://tempuri.org/iUCToolbar/_ImportUC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRightsBy_ObjectNameUserID">
      <soap:operation soapAction="http://tempuri.org/iUCToolbar/GetUserRightsBy_ObjectNameUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UCToolbarService">
    <wsdl:port name="BasicHttpBinding_iUCToolbar" binding="tns:BasicHttpBinding_iUCToolbar">
      <soap:address location="http://localhost/BrilliantWMSServices/Service.UCToolbar/UCToolbarService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>