BrilliantWMS/PowerOnRentwebapp/Service References/ImportService/ImportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59491/ImportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59491/ImportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59491/ImportService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImportService_GetTemplateDataByObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateDataByObject" />
  </wsdl:message>
  <wsdl:message name="IImportService_GetTemplateDataByObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateDataByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_ValidateImportData_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateImportData" />
  </wsdl:message>
  <wsdl:message name="IImportService_ValidateImportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateImportDataResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_InsertImportLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertImportLocation" />
  </wsdl:message>
  <wsdl:message name="IImportService_InsertImportLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertImportLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IImportService_DeleteFromtempTable_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFromtempTable" />
  </wsdl:message>
  <wsdl:message name="IImportService_DeleteFromtempTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFromtempTableResponse" />
  </wsdl:message>
  <wsdl:portType name="IImportService">
    <wsdl:operation name="GetTemplateDataByObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/GetTemplateDataByObject" message="tns:IImportService_GetTemplateDataByObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/GetTemplateDataByObjectResponse" message="tns:IImportService_GetTemplateDataByObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateImportData">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/ValidateImportData" message="tns:IImportService_ValidateImportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/ValidateImportDataResponse" message="tns:IImportService_ValidateImportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertImportLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/InsertImportLocation" message="tns:IImportService_InsertImportLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/InsertImportLocationResponse" message="tns:IImportService_InsertImportLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFromtempTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IImportService/DeleteFromtempTable" message="tns:IImportService_DeleteFromtempTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImportService/DeleteFromtempTableResponse" message="tns:IImportService_DeleteFromtempTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImportService" type="tns:IImportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTemplateDataByObject">
      <soap:operation soapAction="http://tempuri.org/IImportService/GetTemplateDataByObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateImportData">
      <soap:operation soapAction="http://tempuri.org/IImportService/ValidateImportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertImportLocation">
      <soap:operation soapAction="http://tempuri.org/IImportService/InsertImportLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFromtempTable">
      <soap:operation soapAction="http://tempuri.org/IImportService/DeleteFromtempTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImportService">
    <wsdl:port name="BasicHttpBinding_IImportService" binding="tns:BasicHttpBinding_IImportService">
      <soap:address location="http://localhost:59491/ImportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>