BrilliantWMS/PowerOnRentwebapp/Service References/ServiceTerritory/TerritoryServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TerritoryServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BrilliantWMSServices/Service.Company/TerritoryServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iTerritory_GetTerritoryGroupList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerritoryGroupList" />
  </wsdl:message>
  <wsdl:message name="iTerritory_GetTerritoryGroupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerritoryGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="iTerritory_GetTerritoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerritoryList" />
  </wsdl:message>
  <wsdl:message name="iTerritory_GetTerritoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerritoryListResponse" />
  </wsdl:message>
  <wsdl:message name="iTerritory_GetUserListByTerritory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListByTerritory" />
  </wsdl:message>
  <wsdl:message name="iTerritory_GetUserListByTerritory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListByTerritoryResponse" />
  </wsdl:message>
  <wsdl:message name="iTerritory_GetDepartmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentList" />
  </wsdl:message>
  <wsdl:message name="iTerritory_GetDepartmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentListResponse" />
  </wsdl:message>
  <wsdl:portType name="iTerritory">
    <wsdl:operation name="GetTerritoryGroupList">
      <wsdl:input wsaw:Action="http://tempuri.org/iTerritory/GetTerritoryGroupList" message="tns:iTerritory_GetTerritoryGroupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iTerritory/GetTerritoryGroupListResponse" message="tns:iTerritory_GetTerritoryGroupList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerritoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/iTerritory/GetTerritoryList" message="tns:iTerritory_GetTerritoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iTerritory/GetTerritoryListResponse" message="tns:iTerritory_GetTerritoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserListByTerritory">
      <wsdl:input wsaw:Action="http://tempuri.org/iTerritory/GetUserListByTerritory" message="tns:iTerritory_GetUserListByTerritory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iTerritory/GetUserListByTerritoryResponse" message="tns:iTerritory_GetUserListByTerritory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/iTerritory/GetDepartmentList" message="tns:iTerritory_GetDepartmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iTerritory/GetDepartmentListResponse" message="tns:iTerritory_GetDepartmentList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iTerritory" type="tns:iTerritory">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTerritoryGroupList">
      <soap:operation soapAction="http://tempuri.org/iTerritory/GetTerritoryGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerritoryList">
      <soap:operation soapAction="http://tempuri.org/iTerritory/GetTerritoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserListByTerritory">
      <soap:operation soapAction="http://tempuri.org/iTerritory/GetUserListByTerritory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentList">
      <soap:operation soapAction="http://tempuri.org/iTerritory/GetDepartmentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TerritoryServices">
    <wsdl:port name="BasicHttpBinding_iTerritory" binding="tns:BasicHttpBinding_iTerritory">
      <soap:address location="http://localhost/BrilliantWMSServices/Service.Company/TerritoryServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>