BrilliantWMS/PowerOnRentwebapp/Service References/PORDashboardService/DashboardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DashboardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BrilliantWMSServicesTest/Service.Dashboard/DashboardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iDashboard_GetDashboardsByUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDashboardsByUserID" />
  </wsdl:message>
  <wsdl:message name="iDashboard_GetDashboardsByUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDashboardsByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="iDashboard_GetDashboardsByDashboardID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDashboardsByDashboardID" />
  </wsdl:message>
  <wsdl:message name="iDashboard_GetDashboardsByDashboardID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDashboardsByDashboardIDResponse" />
  </wsdl:message>
  <wsdl:message name="iDashboard_GetDashboardDataByQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDashboardDataByQuery" />
  </wsdl:message>
  <wsdl:message name="iDashboard_GetDashboardDataByQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDashboardDataByQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="iDashboard">
    <wsdl:operation name="GetDashboardsByUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/iDashboard/GetDashboardsByUserID" message="tns:iDashboard_GetDashboardsByUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iDashboard/GetDashboardsByUserIDResponse" message="tns:iDashboard_GetDashboardsByUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDashboardsByDashboardID">
      <wsdl:input wsaw:Action="http://tempuri.org/iDashboard/GetDashboardsByDashboardID" message="tns:iDashboard_GetDashboardsByDashboardID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iDashboard/GetDashboardsByDashboardIDResponse" message="tns:iDashboard_GetDashboardsByDashboardID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDashboardDataByQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/iDashboard/GetDashboardDataByQuery" message="tns:iDashboard_GetDashboardDataByQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iDashboard/GetDashboardDataByQueryResponse" message="tns:iDashboard_GetDashboardDataByQuery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iDashboard" type="tns:iDashboard">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDashboardsByUserID">
      <soap:operation soapAction="http://tempuri.org/iDashboard/GetDashboardsByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDashboardsByDashboardID">
      <soap:operation soapAction="http://tempuri.org/iDashboard/GetDashboardsByDashboardID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDashboardDataByQuery">
      <soap:operation soapAction="http://tempuri.org/iDashboard/GetDashboardDataByQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DashboardService">
    <wsdl:port name="BasicHttpBinding_iDashboard" binding="tns:BasicHttpBinding_iDashboard">
      <soap:address location="http://localhost/BrilliantWMSServicesTest/Service.Dashboard/DashboardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>