BrilliantWMS/PowerOnRentwebapp/Service References/AccountSearchService/AccountSearchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetGetCustomerDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="LoginUserType" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGetCustomerDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetGetCustomerDetailResult" type="tns:ArrayOfGetCustomerDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfGetCustomerDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetCustomerDetail" nillable="true" type="tns:GetCustomerDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCustomerDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Customerid" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="SectorID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomerName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CompanyType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GroupName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerTypeID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="SectorName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomerCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="WebSite" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TurnOver" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuralObject" abstract="true" />
  <xs:complexType name="EntityKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGetCustomerDetailForApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGetCustomerDetailForApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetGetCustomerDetailForApplicationResult" type="tns:ArrayOfGetCustomerDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGetCustomerDetailForAdmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGetCustomerDetailForAdmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetGetCustomerDetailForAdmissionResult" type="tns:ArrayOfGetCustomerDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeadSector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMSector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mSector" nillable="true" type="tns:mSector" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mSector">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLeadSectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetLeadSectorResult" type="tns:ArrayOfMSector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMCustomerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mCustomerType" nillable="true" type="tns:mCustomerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mCustomerType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="CompanyType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCompanyTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCompanyTypeResult" type="tns:ArrayOfMCustomerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="cust" type="tns:tCustomerHead" />
        <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="tCustomerHead">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerTypeID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomerCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SectorID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="WebSite" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TurnOver" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreditDays" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ConperID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingAddressID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingAddressID" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SaveCustomerDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerHeadDetailByCustomerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="customerID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerHeadDetailByCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCustomerHeadDetailByCustomerIDResult" type="tns:tCustomerHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="AccountName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="userID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="checkDuplicateRecordResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CustomerID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="AccountName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="checkDuplicateRecordEditResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountHistoryDtls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraInvoiceId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSP_AcountHistory_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SP_AcountHistory_Result" nillable="true" type="tns:SP_AcountHistory_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SP_AcountHistory_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="InvoiceDate" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="InvHeadId" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerHeadID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Customer" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentRecAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="due" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ComplexObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAccountHistoryDtlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAccountHistoryDtlsResult" type="tns:ArrayOfSP_AcountHistory_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOpeningBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ObjOpeningBal" type="tns:tOpeningBalance" />
        <xs:element minOccurs="0" maxOccurs="1" name="state" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="tOpeningBalance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="FinancialYear" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="OpeningBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="DrCr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreatedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveOpeningBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SaveOpeningBalanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTOpeningBalanceDtls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CustomerId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="objectname" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTOpeningBalanceDtlsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTOpeningBalanceDtlsResult" type="tns:tOpeningBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerDetailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerDetailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAllCustomerDetailsByIDResult" type="tns:GetCustomerDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionalSubject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionalSubjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetOptionalSubjectResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseTempData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="TargetObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseTempDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCourseTempDataResult" type="tns:SP_CourseStudentWise_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SP_CourseStudentWise_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="StudentID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CourseID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductCode" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetValuesToTempData_onChangeCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="TargetObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Sequence" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraInput" type="tns:SP_CourseStudentWise_Result" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetValuesToTempData_onChangeCourseResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="InsertIntoTempCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Course" type="tns:SP_CourseStudentWise_Result" />
        <xs:element minOccurs="0" maxOccurs="1" name="SessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="TargetObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoTempCourseResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetCourseTempDataToBindGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="TargetObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="SessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSP_CourseStudentWise_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SP_CourseStudentWise_Result" nillable="true" type="tns:SP_CourseStudentWise_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCourseTempDataToBindGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCourseTempDataToBindGridResult" type="tns:ArrayOfSP_CourseStudentWise_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseDataByStudentID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="StudID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="sessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="userID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CurrentObject" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseDataByStudentIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCourseDataByStudentIDResult" type="tns:ArrayOfSP_CourseStudentWise_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameFromID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="PrdCode" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductNameFromIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProductNameFromIDResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalSaveStudentCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="StudID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalSaveStudentCourseResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ClearTempDataFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTempDataFromDBResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="RemoveCourseFromTempDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraSequence" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCourseFromTempDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RemoveCourseFromTempDataListResult" type="tns:ArrayOfSP_CourseStudentWise_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusOfSelectedRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="selectedRecd" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusOfSelectedRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ChangeStatusOfSelectedRecordResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusOfSelectedRecordToStud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="selectedRecd" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusOfSelectedRecordToStudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ChangeStatusOfSelectedRecordToStudResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateCenterToSelStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="selectedStuds" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="AllocatedCenter" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateCenterToSelStudentResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SaveApplicationFeeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="invc" type="tns:tInvoiceHead" />
        <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="PrdDetail" type="tns:tAddToCartProductDetail" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="tInvoiceHead">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="InvoiceDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="InvoiceType" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerHeadID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="LeadSourceID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="InvoiceStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustomerPONo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerPODate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="ParentInvoiceID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="DispatchThrough" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ExpDispatchDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CampaignID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="SubTotal" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductLevelTotalDiscount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountOnSubTotal" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountOnSubTotalPercent" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalDiscount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalAfterDiscount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductLevelTotalTax" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="TaxOnTotalAfterDiscount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalTax" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingCharges" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherChargesDescription" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="OtherCharges" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="BillingAddressID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShippingAddressID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ConperID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsPrint" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="SalesExi" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsCompleted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsDeleted" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Executive" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tAddToCartProductDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductDescription" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductPrice" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="UOMID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="PerUnitDiscount" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsDiscountPercent" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalTaxAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveApplicationFeeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SaveApplicationFeeDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewInvoiceNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewInvoiceNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetNewInvoiceNoResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrdDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="PrdID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrdDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPrdDetailResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceIdOfCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CustID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceIdOfCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetInvoiceIdOfCustomerResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePymentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CourseID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="TransactionAmt" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="PayMode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="DateCreated" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="Product_Id" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePymentDetailsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="getProductIDByCourseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CourseID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductIDByCourseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getProductIDByCourseIDResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCoupen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCoupenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CheckCoupenResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCoupen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CoupenNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCoupenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateCoupenResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContactDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Mobile" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="DateCreated" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContactDetailsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SaveContactDetails1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Mobile" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="datemodified" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContactDetails1Response">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeletetImportStudentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletetImportStudentDataResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetimportStudentdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetimportStudentdataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetimportStudentdataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GettempImportStudentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GettempImportStudentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GettempImportStudentDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudInRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Fname" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Mname" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Lname" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Gender" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Usertype" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Datecreated" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="PartnerType" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="PartnerID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CourseID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Medium" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudInRegistrationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="InsertStudInCustomerHead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SectorID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DisplayName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="ConperID" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="BillingAddressID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="ShippingAddressID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="BranchID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Fname" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Mname" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Lname" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Gender" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Date_of_Registration" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CourseID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Medium" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="payment" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudInCustomerHeadResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetRegID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRegIDResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsrtIntoMediumTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Medium" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsrtIntoMediumTableResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="InsertStudDataInLoginTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Datecreated" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="AccessPeriod" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudDataInLoginTableResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="InsertStudDataInContactTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Datecreated" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudDataInContactTableResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="InsertStudDataInPaymentTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CourseID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="TransactionAmt" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="PayMode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Datecreated" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="Product_Id" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStudDataInPaymentTableResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateMediumInRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Medium" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMediumInRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateMediumInRegisterResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCustIDResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudIDinRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CustID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudIDinRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateStudIDinRegisterResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisterIDByAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AccountID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegisterIDByAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRegisterIDByAccountIDResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetloginDetailsByRegisterId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegisterID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetloginDetailsByRegisterIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetloginDetailsByRegisterIdResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediumDetailsByRegisterId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegisterID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediumDetailsByRegisterIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetMediumDetailsByRegisterIdResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMediumInMeduimTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="medium" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMediumInMeduimTableResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetTotalNoofLicences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelStud" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalNoofLicencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetTotalNoofLicencesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaymentBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Amount" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="TotalLicense" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="StudID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ddlPaymentMode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="hdnDT" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="txtBankName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="txtTransactionNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="txtChequeNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="txtRemark" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaymentBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertPaymentBookingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMediumTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RegID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Medium" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMediumTableResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetOTPResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIntomSLA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ObjSLA" type="tns:mSLA" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="mSLA">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="DeptID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="PrimeDays" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ExpressDays" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="RegularDays" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreatedBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreatedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="ModifiedBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ModifiedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddIntomSLAResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetSLADetailsDeptWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSLADetailsDeptWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSLADetailsDeptWiseResult" type="tns:mSLA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFanancialApprover">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFanancialApproverResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SaveVendorDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Vend" type="tns:mVendor" />
        <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="mVendor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sector" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="VCType" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Creditdays" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="TurnOver" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="Finacialyear" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="CrDr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompType" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="AccountType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Website" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveVendorDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SaveVendorDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDetailByVendorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="VendorID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorDetailByVendorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetVendorDetailByVendorIDResult" type="tns:mVendor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccountOpeningBal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ObjOpeningBal" type="tns:tOpeningBalance" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccountOpeningBalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SaveAccountOpeningBalResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClientDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="client" type="tns:mClient" />
        <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="mClient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sector" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="VCType" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Creditdays" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="TurnOver" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="Finacialyear" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="CrDr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompType" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="AccountType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Website" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveClientDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SaveClientDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientDetailByClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ClientID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientDetailByClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetClientDetailByClientIDResult" type="tns:mClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>