BrilliantWMS/PowerOnRentwebapp/Service References/AccountSearchService/AccountSearchService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountSearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BrilliantWMSServicesTest/Service.AccountSearch/AccountSearchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iCustomer_GetGetCustomerDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGetCustomerDetail" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetGetCustomerDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGetCustomerDetailResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetGetCustomerDetailForApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGetCustomerDetailForApplication" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetGetCustomerDetailForApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGetCustomerDetailForApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetGetCustomerDetailForAdmission_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGetCustomerDetailForAdmission" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetGetCustomerDetailForAdmission_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGetCustomerDetailForAdmissionResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetLeadSector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadSector" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetLeadSector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadSectorResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCompanyType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyType" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCompanyType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyTypeResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCustomerHeadDetailByCustomerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerHeadDetailByCustomerID" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCustomerHeadDetailByCustomerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerHeadDetailByCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_checkDuplicateRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:checkDuplicateRecord" />
  </wsdl:message>
  <wsdl:message name="iCustomer_checkDuplicateRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkDuplicateRecordResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_checkDuplicateRecordEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:checkDuplicateRecordEdit" />
  </wsdl:message>
  <wsdl:message name="iCustomer_checkDuplicateRecordEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkDuplicateRecordEditResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetAccountHistoryDtls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountHistoryDtls" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetAccountHistoryDtls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountHistoryDtlsResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveOpeningBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOpeningBalance" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveOpeningBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOpeningBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetTOpeningBalanceDtls_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTOpeningBalanceDtls" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetTOpeningBalanceDtls_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTOpeningBalanceDtlsResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetAllCustomerDetailsByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerDetailsByID" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetAllCustomerDetailsByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerDetailsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetOptionalSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionalSubject" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetOptionalSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionalSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCourseTempData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseTempData" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCourseTempData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseTempDataResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SetValuesToTempData_onChangeCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:SetValuesToTempData_onChangeCourse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SetValuesToTempData_onChangeCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetValuesToTempData_onChangeCourseResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertIntoTempCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertIntoTempCourse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertIntoTempCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertIntoTempCourseResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCourseTempDataToBindGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseTempDataToBindGrid" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCourseTempDataToBindGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseTempDataToBindGridResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCourseDataByStudentID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseDataByStudentID" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCourseDataByStudentID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseDataByStudentIDResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetProductNameFromID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductNameFromID" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetProductNameFromID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductNameFromIDResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_FinalSaveStudentCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalSaveStudentCourse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_FinalSaveStudentCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalSaveStudentCourseResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_ClearTempDataFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearTempDataFromDB" />
  </wsdl:message>
  <wsdl:message name="iCustomer_ClearTempDataFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearTempDataFromDBResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_RemoveCourseFromTempDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCourseFromTempDataList" />
  </wsdl:message>
  <wsdl:message name="iCustomer_RemoveCourseFromTempDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCourseFromTempDataListResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_ChangeStatusOfSelectedRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusOfSelectedRecord" />
  </wsdl:message>
  <wsdl:message name="iCustomer_ChangeStatusOfSelectedRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusOfSelectedRecordResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_ChangeStatusOfSelectedRecordToStud_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusOfSelectedRecordToStud" />
  </wsdl:message>
  <wsdl:message name="iCustomer_ChangeStatusOfSelectedRecordToStud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeStatusOfSelectedRecordToStudResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_AllocateCenterToSelStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AllocateCenterToSelStudent" />
  </wsdl:message>
  <wsdl:message name="iCustomer_AllocateCenterToSelStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllocateCenterToSelStudentResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveApplicationFeeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveApplicationFeeDetails" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveApplicationFeeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveApplicationFeeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetNewInvoiceNo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewInvoiceNo" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetNewInvoiceNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewInvoiceNoResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetPrdDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrdDetail" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetPrdDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrdDetailResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetInvoiceIdOfCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceIdOfCustomer" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetInvoiceIdOfCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceIdOfCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SavePymentDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePymentDetails" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SavePymentDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePymentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_getProductIDByCourseID_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductIDByCourseID" />
  </wsdl:message>
  <wsdl:message name="iCustomer_getProductIDByCourseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductIDByCourseIDResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_CheckCoupen_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckCoupen" />
  </wsdl:message>
  <wsdl:message name="iCustomer_CheckCoupen_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckCoupenResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_UpdateCoupen_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCoupen" />
  </wsdl:message>
  <wsdl:message name="iCustomer_UpdateCoupen_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCoupenResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveContactDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveContactDetails" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveContactDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveContactDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveContactDetails1_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveContactDetails1" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveContactDetails1_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveContactDetails1Response" />
  </wsdl:message>
  <wsdl:message name="iCustomer_DeletetImportStudentData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletetImportStudentData" />
  </wsdl:message>
  <wsdl:message name="iCustomer_DeletetImportStudentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletetImportStudentDataResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetimportStudentdata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetimportStudentdata" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetimportStudentdata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetimportStudentdataResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GettempImportStudentData_InputMessage">
    <wsdl:part name="parameters" element="tns:GettempImportStudentData" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GettempImportStudentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GettempImportStudentDataResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertStudInRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudInRegistration" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertStudInRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudInRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertStudInCustomerHead_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudInCustomerHead" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertStudInCustomerHead_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudInCustomerHeadResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetRegID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegID" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetRegID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegIDResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsrtIntoMediumTable_InputMessage">
    <wsdl:part name="parameters" element="tns:InsrtIntoMediumTable" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsrtIntoMediumTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsrtIntoMediumTableResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertStudDataInLoginTable_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudDataInLoginTable" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertStudDataInLoginTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudDataInLoginTableResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertStudDataInContactTable_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudDataInContactTable" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertStudDataInContactTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudDataInContactTableResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertStudDataInPaymentTable_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudDataInPaymentTable" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertStudDataInPaymentTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudDataInPaymentTableResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_UpdateMediumInRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMediumInRegister" />
  </wsdl:message>
  <wsdl:message name="iCustomer_UpdateMediumInRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMediumInRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCustID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustID" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetCustID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustIDResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_UpdateStudIDinRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudIDinRegister" />
  </wsdl:message>
  <wsdl:message name="iCustomer_UpdateStudIDinRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudIDinRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetRegisterIDByAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisterIDByAccountID" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetRegisterIDByAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegisterIDByAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetloginDetailsByRegisterId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetloginDetailsByRegisterId" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetloginDetailsByRegisterId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetloginDetailsByRegisterIdResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetMediumDetailsByRegisterId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMediumDetailsByRegisterId" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetMediumDetailsByRegisterId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediumDetailsByRegisterIdResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertMediumInMeduimTable_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMediumInMeduimTable" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertMediumInMeduimTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMediumInMeduimTableResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetTotalNoofLicences_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNoofLicences" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetTotalNoofLicences_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNoofLicencesResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertPaymentBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPaymentBooking" />
  </wsdl:message>
  <wsdl:message name="iCustomer_InsertPaymentBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPaymentBookingResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_UpdateMediumTable_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMediumTable" />
  </wsdl:message>
  <wsdl:message name="iCustomer_UpdateMediumTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMediumTableResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetOTP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOTP" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetOTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOTPResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_AddIntomSLA_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIntomSLA" />
  </wsdl:message>
  <wsdl:message name="iCustomer_AddIntomSLA_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIntomSLAResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetSLADetailsDeptWise_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSLADetailsDeptWise" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetSLADetailsDeptWise_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSLADetailsDeptWiseResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_DeleteFanancialApprover_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFanancialApprover" />
  </wsdl:message>
  <wsdl:message name="iCustomer_DeleteFanancialApprover_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFanancialApproverResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveVendorDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveVendorDetails" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveVendorDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveVendorDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetVendorDetailByVendorID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorDetailByVendorID" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetVendorDetailByVendorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorDetailByVendorIDResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveAccountOpeningBal_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAccountOpeningBal" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveAccountOpeningBal_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAccountOpeningBalResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveClientDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveClientDetails" />
  </wsdl:message>
  <wsdl:message name="iCustomer_SaveClientDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetClientDetailByClientID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientDetailByClientID" />
  </wsdl:message>
  <wsdl:message name="iCustomer_GetClientDetailByClientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientDetailByClientIDResponse" />
  </wsdl:message>
  <wsdl:portType name="iCustomer">
    <wsdl:operation name="GetGetCustomerDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetGetCustomerDetail" message="tns:iCustomer_GetGetCustomerDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetGetCustomerDetailResponse" message="tns:iCustomer_GetGetCustomerDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGetCustomerDetailForApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetGetCustomerDetailForApplication" message="tns:iCustomer_GetGetCustomerDetailForApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetGetCustomerDetailForApplicationResponse" message="tns:iCustomer_GetGetCustomerDetailForApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGetCustomerDetailForAdmission">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetGetCustomerDetailForAdmission" message="tns:iCustomer_GetGetCustomerDetailForAdmission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetGetCustomerDetailForAdmissionResponse" message="tns:iCustomer_GetGetCustomerDetailForAdmission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeadSector">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetLeadSector" message="tns:iCustomer_GetLeadSector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetLeadSectorResponse" message="tns:iCustomer_GetLeadSector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyType">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetCompanyType" message="tns:iCustomer_GetCompanyType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetCompanyTypeResponse" message="tns:iCustomer_GetCompanyType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/SaveCustomerDetails" message="tns:iCustomer_SaveCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/SaveCustomerDetailsResponse" message="tns:iCustomer_SaveCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerHeadDetailByCustomerID">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetCustomerHeadDetailByCustomerID" message="tns:iCustomer_GetCustomerHeadDetailByCustomerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetCustomerHeadDetailByCustomerIDResponse" message="tns:iCustomer_GetCustomerHeadDetailByCustomerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkDuplicateRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/checkDuplicateRecord" message="tns:iCustomer_checkDuplicateRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/checkDuplicateRecordResponse" message="tns:iCustomer_checkDuplicateRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkDuplicateRecordEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/checkDuplicateRecordEdit" message="tns:iCustomer_checkDuplicateRecordEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/checkDuplicateRecordEditResponse" message="tns:iCustomer_checkDuplicateRecordEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountHistoryDtls">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetAccountHistoryDtls" message="tns:iCustomer_GetAccountHistoryDtls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetAccountHistoryDtlsResponse" message="tns:iCustomer_GetAccountHistoryDtls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOpeningBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/SaveOpeningBalance" message="tns:iCustomer_SaveOpeningBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/SaveOpeningBalanceResponse" message="tns:iCustomer_SaveOpeningBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTOpeningBalanceDtls">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetTOpeningBalanceDtls" message="tns:iCustomer_GetTOpeningBalanceDtls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetTOpeningBalanceDtlsResponse" message="tns:iCustomer_GetTOpeningBalanceDtls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomerDetailsByID">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetAllCustomerDetailsByID" message="tns:iCustomer_GetAllCustomerDetailsByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetAllCustomerDetailsByIDResponse" message="tns:iCustomer_GetAllCustomerDetailsByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOptionalSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetOptionalSubject" message="tns:iCustomer_GetOptionalSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetOptionalSubjectResponse" message="tns:iCustomer_GetOptionalSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseTempData">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetCourseTempData" message="tns:iCustomer_GetCourseTempData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetCourseTempDataResponse" message="tns:iCustomer_GetCourseTempData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetValuesToTempData_onChangeCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/SetValuesToTempData_onChangeCourse" message="tns:iCustomer_SetValuesToTempData_onChangeCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/SetValuesToTempData_onChangeCourseResponse" message="tns:iCustomer_SetValuesToTempData_onChangeCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoTempCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/InsertIntoTempCourse" message="tns:iCustomer_InsertIntoTempCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/InsertIntoTempCourseResponse" message="tns:iCustomer_InsertIntoTempCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseTempDataToBindGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetCourseTempDataToBindGrid" message="tns:iCustomer_GetCourseTempDataToBindGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetCourseTempDataToBindGridResponse" message="tns:iCustomer_GetCourseTempDataToBindGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseDataByStudentID">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetCourseDataByStudentID" message="tns:iCustomer_GetCourseDataByStudentID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetCourseDataByStudentIDResponse" message="tns:iCustomer_GetCourseDataByStudentID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductNameFromID">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetProductNameFromID" message="tns:iCustomer_GetProductNameFromID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetProductNameFromIDResponse" message="tns:iCustomer_GetProductNameFromID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalSaveStudentCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/FinalSaveStudentCourse" message="tns:iCustomer_FinalSaveStudentCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/FinalSaveStudentCourseResponse" message="tns:iCustomer_FinalSaveStudentCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearTempDataFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/ClearTempDataFromDB" message="tns:iCustomer_ClearTempDataFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/ClearTempDataFromDBResponse" message="tns:iCustomer_ClearTempDataFromDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCourseFromTempDataList">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/RemoveCourseFromTempDataList" message="tns:iCustomer_RemoveCourseFromTempDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/RemoveCourseFromTempDataListResponse" message="tns:iCustomer_RemoveCourseFromTempDataList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusOfSelectedRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/ChangeStatusOfSelectedRecord" message="tns:iCustomer_ChangeStatusOfSelectedRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/ChangeStatusOfSelectedRecordResponse" message="tns:iCustomer_ChangeStatusOfSelectedRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusOfSelectedRecordToStud">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/ChangeStatusOfSelectedRecordToStud" message="tns:iCustomer_ChangeStatusOfSelectedRecordToStud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/ChangeStatusOfSelectedRecordToStudResponse" message="tns:iCustomer_ChangeStatusOfSelectedRecordToStud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllocateCenterToSelStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/AllocateCenterToSelStudent" message="tns:iCustomer_AllocateCenterToSelStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/AllocateCenterToSelStudentResponse" message="tns:iCustomer_AllocateCenterToSelStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveApplicationFeeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/SaveApplicationFeeDetails" message="tns:iCustomer_SaveApplicationFeeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/SaveApplicationFeeDetailsResponse" message="tns:iCustomer_SaveApplicationFeeDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewInvoiceNo">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetNewInvoiceNo" message="tns:iCustomer_GetNewInvoiceNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetNewInvoiceNoResponse" message="tns:iCustomer_GetNewInvoiceNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrdDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetPrdDetail" message="tns:iCustomer_GetPrdDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetPrdDetailResponse" message="tns:iCustomer_GetPrdDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceIdOfCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetInvoiceIdOfCustomer" message="tns:iCustomer_GetInvoiceIdOfCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetInvoiceIdOfCustomerResponse" message="tns:iCustomer_GetInvoiceIdOfCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePymentDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/SavePymentDetails" message="tns:iCustomer_SavePymentDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/SavePymentDetailsResponse" message="tns:iCustomer_SavePymentDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductIDByCourseID">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/getProductIDByCourseID" message="tns:iCustomer_getProductIDByCourseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/getProductIDByCourseIDResponse" message="tns:iCustomer_getProductIDByCourseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckCoupen">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/CheckCoupen" message="tns:iCustomer_CheckCoupen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/CheckCoupenResponse" message="tns:iCustomer_CheckCoupen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCoupen">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/UpdateCoupen" message="tns:iCustomer_UpdateCoupen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/UpdateCoupenResponse" message="tns:iCustomer_UpdateCoupen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveContactDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/SaveContactDetails" message="tns:iCustomer_SaveContactDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/SaveContactDetailsResponse" message="tns:iCustomer_SaveContactDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveContactDetails1">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/SaveContactDetails1" message="tns:iCustomer_SaveContactDetails1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/SaveContactDetails1Response" message="tns:iCustomer_SaveContactDetails1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletetImportStudentData">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/DeletetImportStudentData" message="tns:iCustomer_DeletetImportStudentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/DeletetImportStudentDataResponse" message="tns:iCustomer_DeletetImportStudentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetimportStudentdata">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetimportStudentdata" message="tns:iCustomer_GetimportStudentdata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetimportStudentdataResponse" message="tns:iCustomer_GetimportStudentdata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GettempImportStudentData">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GettempImportStudentData" message="tns:iCustomer_GettempImportStudentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GettempImportStudentDataResponse" message="tns:iCustomer_GettempImportStudentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStudInRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/InsertStudInRegistration" message="tns:iCustomer_InsertStudInRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/InsertStudInRegistrationResponse" message="tns:iCustomer_InsertStudInRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStudInCustomerHead">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/InsertStudInCustomerHead" message="tns:iCustomer_InsertStudInCustomerHead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/InsertStudInCustomerHeadResponse" message="tns:iCustomer_InsertStudInCustomerHead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegID">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetRegID" message="tns:iCustomer_GetRegID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetRegIDResponse" message="tns:iCustomer_GetRegID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsrtIntoMediumTable">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/InsrtIntoMediumTable" message="tns:iCustomer_InsrtIntoMediumTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/InsrtIntoMediumTableResponse" message="tns:iCustomer_InsrtIntoMediumTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStudDataInLoginTable">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/InsertStudDataInLoginTable" message="tns:iCustomer_InsertStudDataInLoginTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/InsertStudDataInLoginTableResponse" message="tns:iCustomer_InsertStudDataInLoginTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStudDataInContactTable">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/InsertStudDataInContactTable" message="tns:iCustomer_InsertStudDataInContactTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/InsertStudDataInContactTableResponse" message="tns:iCustomer_InsertStudDataInContactTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStudDataInPaymentTable">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/InsertStudDataInPaymentTable" message="tns:iCustomer_InsertStudDataInPaymentTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/InsertStudDataInPaymentTableResponse" message="tns:iCustomer_InsertStudDataInPaymentTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMediumInRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/UpdateMediumInRegister" message="tns:iCustomer_UpdateMediumInRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/UpdateMediumInRegisterResponse" message="tns:iCustomer_UpdateMediumInRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustID">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetCustID" message="tns:iCustomer_GetCustID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetCustIDResponse" message="tns:iCustomer_GetCustID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudIDinRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/UpdateStudIDinRegister" message="tns:iCustomer_UpdateStudIDinRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/UpdateStudIDinRegisterResponse" message="tns:iCustomer_UpdateStudIDinRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegisterIDByAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetRegisterIDByAccountID" message="tns:iCustomer_GetRegisterIDByAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetRegisterIDByAccountIDResponse" message="tns:iCustomer_GetRegisterIDByAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetloginDetailsByRegisterId">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetloginDetailsByRegisterId" message="tns:iCustomer_GetloginDetailsByRegisterId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetloginDetailsByRegisterIdResponse" message="tns:iCustomer_GetloginDetailsByRegisterId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMediumDetailsByRegisterId">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetMediumDetailsByRegisterId" message="tns:iCustomer_GetMediumDetailsByRegisterId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetMediumDetailsByRegisterIdResponse" message="tns:iCustomer_GetMediumDetailsByRegisterId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMediumInMeduimTable">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/InsertMediumInMeduimTable" message="tns:iCustomer_InsertMediumInMeduimTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/InsertMediumInMeduimTableResponse" message="tns:iCustomer_InsertMediumInMeduimTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalNoofLicences">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetTotalNoofLicences" message="tns:iCustomer_GetTotalNoofLicences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetTotalNoofLicencesResponse" message="tns:iCustomer_GetTotalNoofLicences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPaymentBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/InsertPaymentBooking" message="tns:iCustomer_InsertPaymentBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/InsertPaymentBookingResponse" message="tns:iCustomer_InsertPaymentBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMediumTable">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/UpdateMediumTable" message="tns:iCustomer_UpdateMediumTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/UpdateMediumTableResponse" message="tns:iCustomer_UpdateMediumTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOTP">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetOTP" message="tns:iCustomer_GetOTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetOTPResponse" message="tns:iCustomer_GetOTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddIntomSLA">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/AddIntomSLA" message="tns:iCustomer_AddIntomSLA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/AddIntomSLAResponse" message="tns:iCustomer_AddIntomSLA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSLADetailsDeptWise">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetSLADetailsDeptWise" message="tns:iCustomer_GetSLADetailsDeptWise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetSLADetailsDeptWiseResponse" message="tns:iCustomer_GetSLADetailsDeptWise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFanancialApprover">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/DeleteFanancialApprover" message="tns:iCustomer_DeleteFanancialApprover_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/DeleteFanancialApproverResponse" message="tns:iCustomer_DeleteFanancialApprover_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveVendorDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/SaveVendorDetails" message="tns:iCustomer_SaveVendorDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/SaveVendorDetailsResponse" message="tns:iCustomer_SaveVendorDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorDetailByVendorID">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetVendorDetailByVendorID" message="tns:iCustomer_GetVendorDetailByVendorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetVendorDetailByVendorIDResponse" message="tns:iCustomer_GetVendorDetailByVendorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAccountOpeningBal">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/SaveAccountOpeningBal" message="tns:iCustomer_SaveAccountOpeningBal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/SaveAccountOpeningBalResponse" message="tns:iCustomer_SaveAccountOpeningBal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveClientDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/SaveClientDetails" message="tns:iCustomer_SaveClientDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/SaveClientDetailsResponse" message="tns:iCustomer_SaveClientDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientDetailByClientID">
      <wsdl:input wsaw:Action="http://tempuri.org/iCustomer/GetClientDetailByClientID" message="tns:iCustomer_GetClientDetailByClientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iCustomer/GetClientDetailByClientIDResponse" message="tns:iCustomer_GetClientDetailByClientID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iCustomer" type="tns:iCustomer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGetCustomerDetail">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetGetCustomerDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetCustomerDetailForApplication">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetGetCustomerDetailForApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetCustomerDetailForAdmission">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetGetCustomerDetailForAdmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeadSector">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetLeadSector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyType">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetCompanyType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/iCustomer/SaveCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerHeadDetailByCustomerID">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetCustomerHeadDetailByCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDuplicateRecord">
      <soap:operation soapAction="http://tempuri.org/iCustomer/checkDuplicateRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDuplicateRecordEdit">
      <soap:operation soapAction="http://tempuri.org/iCustomer/checkDuplicateRecordEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountHistoryDtls">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetAccountHistoryDtls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOpeningBalance">
      <soap:operation soapAction="http://tempuri.org/iCustomer/SaveOpeningBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTOpeningBalanceDtls">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetTOpeningBalanceDtls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomerDetailsByID">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetAllCustomerDetailsByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOptionalSubject">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetOptionalSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseTempData">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetCourseTempData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetValuesToTempData_onChangeCourse">
      <soap:operation soapAction="http://tempuri.org/iCustomer/SetValuesToTempData_onChangeCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoTempCourse">
      <soap:operation soapAction="http://tempuri.org/iCustomer/InsertIntoTempCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseTempDataToBindGrid">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetCourseTempDataToBindGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseDataByStudentID">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetCourseDataByStudentID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductNameFromID">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetProductNameFromID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalSaveStudentCourse">
      <soap:operation soapAction="http://tempuri.org/iCustomer/FinalSaveStudentCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTempDataFromDB">
      <soap:operation soapAction="http://tempuri.org/iCustomer/ClearTempDataFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCourseFromTempDataList">
      <soap:operation soapAction="http://tempuri.org/iCustomer/RemoveCourseFromTempDataList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusOfSelectedRecord">
      <soap:operation soapAction="http://tempuri.org/iCustomer/ChangeStatusOfSelectedRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusOfSelectedRecordToStud">
      <soap:operation soapAction="http://tempuri.org/iCustomer/ChangeStatusOfSelectedRecordToStud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllocateCenterToSelStudent">
      <soap:operation soapAction="http://tempuri.org/iCustomer/AllocateCenterToSelStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveApplicationFeeDetails">
      <soap:operation soapAction="http://tempuri.org/iCustomer/SaveApplicationFeeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewInvoiceNo">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetNewInvoiceNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrdDetail">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetPrdDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceIdOfCustomer">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetInvoiceIdOfCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePymentDetails">
      <soap:operation soapAction="http://tempuri.org/iCustomer/SavePymentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductIDByCourseID">
      <soap:operation soapAction="http://tempuri.org/iCustomer/getProductIDByCourseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCoupen">
      <soap:operation soapAction="http://tempuri.org/iCustomer/CheckCoupen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCoupen">
      <soap:operation soapAction="http://tempuri.org/iCustomer/UpdateCoupen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContactDetails">
      <soap:operation soapAction="http://tempuri.org/iCustomer/SaveContactDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContactDetails1">
      <soap:operation soapAction="http://tempuri.org/iCustomer/SaveContactDetails1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletetImportStudentData">
      <soap:operation soapAction="http://tempuri.org/iCustomer/DeletetImportStudentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetimportStudentdata">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetimportStudentdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GettempImportStudentData">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GettempImportStudentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudInRegistration">
      <soap:operation soapAction="http://tempuri.org/iCustomer/InsertStudInRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudInCustomerHead">
      <soap:operation soapAction="http://tempuri.org/iCustomer/InsertStudInCustomerHead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegID">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetRegID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsrtIntoMediumTable">
      <soap:operation soapAction="http://tempuri.org/iCustomer/InsrtIntoMediumTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudDataInLoginTable">
      <soap:operation soapAction="http://tempuri.org/iCustomer/InsertStudDataInLoginTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudDataInContactTable">
      <soap:operation soapAction="http://tempuri.org/iCustomer/InsertStudDataInContactTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudDataInPaymentTable">
      <soap:operation soapAction="http://tempuri.org/iCustomer/InsertStudDataInPaymentTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMediumInRegister">
      <soap:operation soapAction="http://tempuri.org/iCustomer/UpdateMediumInRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustID">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetCustID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudIDinRegister">
      <soap:operation soapAction="http://tempuri.org/iCustomer/UpdateStudIDinRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegisterIDByAccountID">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetRegisterIDByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetloginDetailsByRegisterId">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetloginDetailsByRegisterId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediumDetailsByRegisterId">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetMediumDetailsByRegisterId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMediumInMeduimTable">
      <soap:operation soapAction="http://tempuri.org/iCustomer/InsertMediumInMeduimTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalNoofLicences">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetTotalNoofLicences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPaymentBooking">
      <soap:operation soapAction="http://tempuri.org/iCustomer/InsertPaymentBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMediumTable">
      <soap:operation soapAction="http://tempuri.org/iCustomer/UpdateMediumTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOTP">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIntomSLA">
      <soap:operation soapAction="http://tempuri.org/iCustomer/AddIntomSLA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSLADetailsDeptWise">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetSLADetailsDeptWise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFanancialApprover">
      <soap:operation soapAction="http://tempuri.org/iCustomer/DeleteFanancialApprover" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveVendorDetails">
      <soap:operation soapAction="http://tempuri.org/iCustomer/SaveVendorDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorDetailByVendorID">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetVendorDetailByVendorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAccountOpeningBal">
      <soap:operation soapAction="http://tempuri.org/iCustomer/SaveAccountOpeningBal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClientDetails">
      <soap:operation soapAction="http://tempuri.org/iCustomer/SaveClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetailByClientID">
      <soap:operation soapAction="http://tempuri.org/iCustomer/GetClientDetailByClientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountSearchService">
    <wsdl:port name="BasicHttpBinding_iCustomer" binding="tns:BasicHttpBinding_iCustomer">
      <soap:address location="http://localhost/BrilliantWMSServicesTest/Service.AccountSearch/AccountSearchService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>