BrilliantWMS/PowerOnRentwebapp/Service References/PORServiceEngineMaster/ServiceEngineMaster1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetEngineMasterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetEngineMasterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetEngineMasterListResult" type="tns:ArrayOfV_GetEngineDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfV_GetEngineDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="v_GetEngineDetails" nillable="true" type="tns:v_GetEngineDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="v_GetEngineDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Territory" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SiteID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Container" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeneratorModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeneratorSerial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineSerial" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateRecevied" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="TransformerSerial" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TransformerDateRecevied" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuralObject" abstract="true" />
  <xs:complexType name="EntityKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertmEngine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SiteMaster" type="tns:mEngine" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="mEngine">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="SiteID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Container" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeneratorModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GeneratorSerial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineModel" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EngineSerial" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateRecevied" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="TransformerSerial" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TransformerDateRecevied" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertmEngineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertmEngineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmEngineListByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="EngineId" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmEngineListByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetmEngineListByIDResult" type="tns:v_GetEngineDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatemEngine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ObjmEngine" type="tns:mEngine" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatemEngineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="updatemEngineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineOfSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEngineOfSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetEngineOfSiteResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTableListResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTypeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDataTypeListResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>