BrilliantWMS/PowerOnRentwebapp/Service References/PORServiceEngineMaster/ServiceEngineMaster1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceEngineMaster" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BrilliantWMSServices/Service.PowerOnRent/ServiceEngineMaster.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iEngineMaster_GetEngineMasterList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEngineMasterList" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_GetEngineMasterList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEngineMasterListResponse" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_InsertmEngine_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertmEngine" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_InsertmEngine_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertmEngineResponse" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_GetmEngineListByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetmEngineListByID" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_GetmEngineListByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetmEngineListByIDResponse" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_updatemEngine_InputMessage">
    <wsdl:part name="parameters" element="tns:updatemEngine" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_updatemEngine_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatemEngineResponse" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_GetEngineOfSite_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEngineOfSite" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_GetEngineOfSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEngineOfSiteResponse" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_GetTableList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTableList" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_GetTableList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableListResponse" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_GetDataTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTypeList" />
  </wsdl:message>
  <wsdl:message name="iEngineMaster_GetDataTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataTypeListResponse" />
  </wsdl:message>
  <wsdl:portType name="iEngineMaster">
    <wsdl:operation name="GetEngineMasterList">
      <wsdl:input wsaw:Action="http://tempuri.org/iEngineMaster/GetEngineMasterList" message="tns:iEngineMaster_GetEngineMasterList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iEngineMaster/GetEngineMasterListResponse" message="tns:iEngineMaster_GetEngineMasterList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertmEngine">
      <wsdl:input wsaw:Action="http://tempuri.org/iEngineMaster/InsertmEngine" message="tns:iEngineMaster_InsertmEngine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iEngineMaster/InsertmEngineResponse" message="tns:iEngineMaster_InsertmEngine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetmEngineListByID">
      <wsdl:input wsaw:Action="http://tempuri.org/iEngineMaster/GetmEngineListByID" message="tns:iEngineMaster_GetmEngineListByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iEngineMaster/GetmEngineListByIDResponse" message="tns:iEngineMaster_GetmEngineListByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatemEngine">
      <wsdl:input wsaw:Action="http://tempuri.org/iEngineMaster/updatemEngine" message="tns:iEngineMaster_updatemEngine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iEngineMaster/updatemEngineResponse" message="tns:iEngineMaster_updatemEngine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEngineOfSite">
      <wsdl:input wsaw:Action="http://tempuri.org/iEngineMaster/GetEngineOfSite" message="tns:iEngineMaster_GetEngineOfSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iEngineMaster/GetEngineOfSiteResponse" message="tns:iEngineMaster_GetEngineOfSite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTableList">
      <wsdl:input wsaw:Action="http://tempuri.org/iEngineMaster/GetTableList" message="tns:iEngineMaster_GetTableList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iEngineMaster/GetTableListResponse" message="tns:iEngineMaster_GetTableList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/iEngineMaster/GetDataTypeList" message="tns:iEngineMaster_GetDataTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iEngineMaster/GetDataTypeListResponse" message="tns:iEngineMaster_GetDataTypeList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iEngineMaster" type="tns:iEngineMaster">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEngineMasterList">
      <soap:operation soapAction="http://tempuri.org/iEngineMaster/GetEngineMasterList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertmEngine">
      <soap:operation soapAction="http://tempuri.org/iEngineMaster/InsertmEngine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetmEngineListByID">
      <soap:operation soapAction="http://tempuri.org/iEngineMaster/GetmEngineListByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatemEngine">
      <soap:operation soapAction="http://tempuri.org/iEngineMaster/updatemEngine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEngineOfSite">
      <soap:operation soapAction="http://tempuri.org/iEngineMaster/GetEngineOfSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableList">
      <soap:operation soapAction="http://tempuri.org/iEngineMaster/GetTableList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTypeList">
      <soap:operation soapAction="http://tempuri.org/iEngineMaster/GetDataTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceEngineMaster">
    <wsdl:port name="BasicHttpBinding_iEngineMaster" binding="tns:BasicHttpBinding_iEngineMaster">
      <soap:address location="http://localhost/BrilliantWMSServices/Service.PowerOnRent/ServiceEngineMaster.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>