BrilliantWMS/PowerOnRentwebapp/Service References/UserCreationService/UserCreationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetUserCreationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserCreationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserCreationListResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserCreation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:mUserProfileHead" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="mUserProfileHead">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="RoleID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MiddelName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DepartmentID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="DesignationID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfJoining" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfBirth" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ReportingTo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="InterestedIn" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Hobbies" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HighestQualification" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CollegeOrUniversity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HighSchool" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Active" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProfileImg" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DefaultAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Gender" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileInterface" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="mDepartmentReference" type="tns:EntityReferenceOfmDepartment" />
          <xs:element minOccurs="0" maxOccurs="1" name="mDesignationReference" type="tns:EntityReferenceOfmDesignation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuralObject" abstract="true" />
  <xs:complexType name="EntityKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityReferenceOfmDepartment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityReference" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelatedEnd" abstract="true" />
  <xs:complexType name="EntityReferenceOfmDesignation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertUserCreationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertUserCreationResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="User" type="tns:mUserProfileHead" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateUserProfileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserByIDResult" type="tns:mUserProfileHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmployeeDepartmentwise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="objmDesignation" type="tns:mDesignation" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="mDesignation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="DepartmentID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="TerritoryID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="mDepartmentReference" type="tns:EntityReferenceOfmDepartment" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfMUserProfileHead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mUserProfileHead" nillable="true" type="tns:mUserProfileHead" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectEmployeeDepartmentwiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelectEmployeeDepartmentwiseResult" type="tns:ArrayOfMUserProfileHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EmpCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="checkDuplicateRecordResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="EmpCode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="checkDuplicateRecordEditResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalSaveUserRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionList" type="tns:ArrayOfSP_GetUserRoleDetail_Result" />
        <xs:element minOccurs="0" maxOccurs="1" name="userID" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="userIDForRole" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="RoleID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSP_GetUserRoleDetail_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SP_GetUserRoleDetail_Result" nillable="true" type="tns:SP_GetUserRoleDetail_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SP_GetUserRoleDetail_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DisplayModuleName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ModuleName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DisplayPhaseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhaseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectDisplayName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="mSequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="pSequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="oSequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Add" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Edit" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="View" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Delete" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Approval" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AssignTask" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ApprovalVisible" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AssignTaskVisible" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ComplexObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FinalSaveUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FinalSaveUserRolesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleIntoSessionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionList" type="tns:ArrayOfSP_GetUserRoleDetail_Result" />
        <xs:element minOccurs="0" maxOccurs="1" name="updateRole" type="tns:SP_GetUserRoleDetail_Result" />
        <xs:element minOccurs="1" maxOccurs="1" name="rowindex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleIntoSessionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateRoleIntoSessionListResult" type="tns:ArrayOfSP_GetUserRoleDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataToBindRoleMasterDetailsByRoleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RoleID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserIdForRole" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataToBindRoleMasterDetailsByRoleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDataToBindRoleMasterDetailsByRoleIDResult" type="tns:ArrayOfSP_GetUserRoleDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfVGetUserProfileList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vGetUserProfileList" nillable="true" type="tns:vGetUserProfileList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vGetUserProfileList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="deptname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="desiName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserListResult" type="tns:ArrayOfVGetUserProfileList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserProfileByUserIDResult" type="tns:vGetUserProfileByUserID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="vGetUserProfileByUserID">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="deptname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="desiName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProfileImg" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfBirth" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateOfJoining" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HighestQualification" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="InterestedIn" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Gender" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ReportingTo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveUsersLocationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ToUserID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="Level" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="LocationIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUsersLocationDetailsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetLocationListByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationListByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetLocationListByUserIDResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLMenuByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLMenuByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetHTMLMenuByUserIDResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLMenuArabicByUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLMenuArabicByUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetHTMLMenuArabicByUserIDResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerritoryID_FromUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerritoryID_FromUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetTerritoryID_FromUserIdResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteNameFromId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteNameFromIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSiteNameFromIdResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mCompany" nillable="true" type="tns:mCompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mCompany">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ParentID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Website" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Landmark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="County" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Zipcode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FaxNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LogoPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="MainDataSource" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MainDataBaseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MainDBPassword" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DataSource" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DataBaseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DBPassword" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MainServerLogin" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Logo" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="StampImg" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="Complogo" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrderFormat" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCompanyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCompanyNameResult" type="tns:ArrayOfMCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGWCUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfVGWCGetUserProfileList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vGWCGetUserProfileList" nillable="true" type="tns:vGWCGetUserProfileList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vGWCGetUserProfileList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DeptName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DepartmentID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="userIDPass" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="locked" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CompanyName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetGWCUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetGWCUserListResult" type="tns:ArrayOfVGWCGetUserProfileList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMDropdownValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mDropdownValue" nillable="true" type="tns:mDropdownValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mDropdownValue">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Parameter" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="StatusID" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserTypeResult" type="tns:ArrayOfMDropdownValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalSaveGWCUserRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="sessionList" type="tns:ArrayOfSP_GWCGetUserRoleDetail_Result" />
        <xs:element minOccurs="0" maxOccurs="1" name="userID" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="userIDForRole" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="RoleID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSP_GWCGetUserRoleDetail_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SP_GWCGetUserRoleDetail_Result" nillable="true" type="tns:SP_GWCGetUserRoleDetail_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SP_GWCGetUserRoleDetail_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DisplayModuleName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ModuleName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DisplayPhaseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhaseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectDisplayName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="mSequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="pSequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="oSequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Add" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Edit" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="View" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Delete" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Approval" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AssignTask" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ApprovalVisible" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AssignTaskVisible" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FinalSaveGWCUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FinalSaveGWCUserRolesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="RoleID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserIdForRole" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRoleDetailsResult" type="tns:ArrayOfSP_GWCGetUserRoleDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GWCSearchUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ComanyID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfVGWCGetUserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vGWCGetUserList" nillable="true" type="tns:vGWCGetUserList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vGWCGetUserList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="userName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DeptName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DepartmentID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="CompanyName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GWCSearchUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GWCSearchUserListResult" type="tns:ArrayOfVGWCGetUserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDelegationDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="state" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeligateFrom" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDelegationDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserDelegationDetailResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEditUserDelegation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeligateFrom" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeligateTo" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="state" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEditUserDelegationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="getUserDelegateDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDelegateDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getUserDelegateDetailResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDelegateToList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DepartmentID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDelegateToListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getDelegateToListResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDelegateFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DeligateFrom" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDelegateFromResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetDepartmentforUsersave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ParentID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentforUsersaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDepartmentforUsersaveResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRollNameById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="TerritoryID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRollNameByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetRollNameByIdResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeByRoll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeByRollResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserTypeByRollResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPasswordHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserProfileID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPasswordHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CheckPasswordHistoryResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePasswordDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserProfileID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="transactedby" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePasswordDetailsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetUserDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserDepartmentResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDelegateToListMultipleDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SelectedLocation" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDelegateToListMultipleDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getDelegateToListMultipleDeptResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatelockunlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UserName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="IsLockedOut" type="xs:unsignedByte" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatelockunlockResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetLogoPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogoPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetLogoPathResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalDetailsOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalDetailsOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetApprovalDetailsOfUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalDistributationOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdditionalDistributationOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetAdditionalDistributationOfUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentDelegate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentDelegateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDepartmentDelegateResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentSSuperAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentSSuperAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDepartmentSSuperAdminResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletedelegate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletedelegateResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetDuplicateDelegate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeligateTo" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeligateFrom" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDuplicateDelegateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetDuplicateDelegateResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOneDayValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOneDayValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CheckOneDayValidationResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserNameByIDResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComppanyLogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CmpnyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComppanyLogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetComppanyLogoResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLoginDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserProfileID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLoginDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserLoginDetailsResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoUserLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="LocationID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoUserLocationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetDuplicatlocationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="LocationID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDuplicatlocationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetDuplicatlocationUserResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserLoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserLocResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetAllHTMLMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHTMLMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAllHTMLMenuResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>