BrilliantWMS/PowerOnRentwebapp/Service References/LoginService/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Login" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BrilliantWMSServices/Service.Login/Login.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iLogin_ErrorTracking_InputMessage">
    <wsdl:part name="parameters" element="tns:ErrorTracking" />
  </wsdl:message>
  <wsdl:message name="iLogin_ErrorTracking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ErrorTrackingResponse" />
  </wsdl:message>
  <wsdl:message name="iLogin_ClearTempDataBySessionID_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearTempDataBySessionID" />
  </wsdl:message>
  <wsdl:message name="iLogin_ClearTempDataBySessionID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearTempDataBySessionIDResponse" />
  </wsdl:message>
  <wsdl:message name="iLogin_ErrorTracking1_InputMessage">
    <wsdl:part name="parameters" element="tns:ErrorTracking1" />
  </wsdl:message>
  <wsdl:message name="iLogin_ErrorTracking1_OutputMessage">
    <wsdl:part name="parameters" element="tns:ErrorTracking1Response" />
  </wsdl:message>
  <wsdl:portType name="iLogin">
    <wsdl:operation name="ErrorTracking">
      <wsdl:input wsaw:Action="http://tempuri.org/iLogin/ErrorTracking" message="tns:iLogin_ErrorTracking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iLogin/ErrorTrackingResponse" message="tns:iLogin_ErrorTracking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearTempDataBySessionID">
      <wsdl:input wsaw:Action="http://tempuri.org/iLogin/ClearTempDataBySessionID" message="tns:iLogin_ClearTempDataBySessionID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iLogin/ClearTempDataBySessionIDResponse" message="tns:iLogin_ClearTempDataBySessionID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ErrorTracking1">
      <wsdl:input wsaw:Action="http://tempuri.org/iLogin/ErrorTracking1" message="tns:iLogin_ErrorTracking1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iLogin/ErrorTracking1Response" message="tns:iLogin_ErrorTracking1_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iLogin" type="tns:iLogin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ErrorTracking">
      <soap:operation soapAction="http://tempuri.org/iLogin/ErrorTracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTempDataBySessionID">
      <soap:operation soapAction="http://tempuri.org/iLogin/ClearTempDataBySessionID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorTracking1">
      <soap:operation soapAction="http://tempuri.org/iLogin/ErrorTracking1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="BasicHttpBinding_iLogin" binding="tns:BasicHttpBinding_iLogin">
      <soap:address location="http://localhost/BrilliantWMSServices/Service.Login/Login.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>