BrilliantWMS/PowerOnRentwebapp/Service References/BindMenuService/BindMenuService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BindMenuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BrilliantWMSServices/Service.UserManagement/BindMenuService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iBindMenu_UserCode_InputMessage">
    <wsdl:part name="parameters" element="tns:UserCode" />
  </wsdl:message>
  <wsdl:message name="iBindMenu_UserCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserCodeResponse" />
  </wsdl:message>
  <wsdl:message name="iBindMenu_CheckOperaction_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOperaction" />
  </wsdl:message>
  <wsdl:message name="iBindMenu_CheckOperaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOperactionResponse" />
  </wsdl:message>
  <wsdl:message name="iBindMenu_BindUserMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:BindUserMenu" />
  </wsdl:message>
  <wsdl:message name="iBindMenu_BindUserMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:BindUserMenuResponse" />
  </wsdl:message>
  <wsdl:message name="iBindMenu_ActiveButtonClickEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveButtonClickEvent" />
  </wsdl:message>
  <wsdl:message name="iBindMenu_ActiveButtonClickEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveButtonClickEventResponse" />
  </wsdl:message>
  <wsdl:portType name="iBindMenu">
    <wsdl:operation name="UserCode">
      <wsdl:input wsaw:Action="http://tempuri.org/iBindMenu/UserCode" message="tns:iBindMenu_UserCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iBindMenu/UserCodeResponse" message="tns:iBindMenu_UserCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOperaction">
      <wsdl:input wsaw:Action="http://tempuri.org/iBindMenu/CheckOperaction" message="tns:iBindMenu_CheckOperaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iBindMenu/CheckOperactionResponse" message="tns:iBindMenu_CheckOperaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BindUserMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/iBindMenu/BindUserMenu" message="tns:iBindMenu_BindUserMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iBindMenu/BindUserMenuResponse" message="tns:iBindMenu_BindUserMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveButtonClickEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/iBindMenu/ActiveButtonClickEvent" message="tns:iBindMenu_ActiveButtonClickEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iBindMenu/ActiveButtonClickEventResponse" message="tns:iBindMenu_ActiveButtonClickEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iBindMenu" type="tns:iBindMenu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserCode">
      <soap:operation soapAction="http://tempuri.org/iBindMenu/UserCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOperaction">
      <soap:operation soapAction="http://tempuri.org/iBindMenu/CheckOperaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindUserMenu">
      <soap:operation soapAction="http://tempuri.org/iBindMenu/BindUserMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveButtonClickEvent">
      <soap:operation soapAction="http://tempuri.org/iBindMenu/ActiveButtonClickEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BindMenuService">
    <wsdl:port name="BasicHttpBinding_iBindMenu" binding="tns:BasicHttpBinding_iBindMenu">
      <soap:address location="http://localhost/BrilliantWMSServices/Service.UserManagement/BindMenuService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>