BrilliantWMS/PowerOnRentwebapp/Service References/AddToCartService/AddToCartService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateAddToCartTempDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraProductIDs" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraObjectConvertFrom" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateAddToCartTempDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CreateAddToCartTempDataListResult" type="tns:ArrayOfSP_GetCartProductDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSP_GetCartProductDetail_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SP_GetCartProductDetail_Result" nillable="true" type="tns:SP_GetCartProductDetail_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SP_GetCartProductDetail_Result">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductDescription" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="UOMID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="UOM" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="PerUnitDiscount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="IsDiscountPercent" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DiscountID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="RateAfterDiscount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="AmountAfterDiscount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="TotalTaxAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="AmountAfterTax" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ComplexObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuralObject" abstract="true" />
  <xs:element name="GetExistingTempDataBySessionIDObjectName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExistingTempDataBySessionIDObjectNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetExistingTempDataBySessionIDObjectNameResult" type="tns:ArrayOfSP_GetCartProductDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddToCartListByReferenceIDObjectName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraObjectConvertFrom" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraReferenceID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddToCartListByReferenceIDObjectNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAddToCartListByReferenceIDObjectNameResult" type="tns:ArrayOfSP_GetCartProductDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTempDataFromDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearTempDataFromDBResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="RemoveProductFromTempDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraSequence" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductFromTempDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RemoveProductFromTempDataListResult" type="tns:ArrayOfSP_GetCartProductDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalSaveToDBtAddToCartProductDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraReferenceID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalSaveToDBtAddToCartProductDetailResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="order" type="tns:SP_GetCartProductDetail_Result" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetCartProductDetailBySequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraCartSequence" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartProductDetailBySequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCartProductDetailBySequenceResult" type="tns:SP_GetCartProductDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFooterTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraCartSequence" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFooterTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetFooterTotalResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddToCartListBySequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="PrdID" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Sequence" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraSessionID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraUserID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraCurrentObjectName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="paraObjectConvertFrom" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="paraReferenceID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddToCartListBySequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAddToCartListBySequenceResult" type="tns:ArrayOfSP_GetCartProductDetail_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>